@{
    ViewBag.Title = "MachineView";
}
<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="col-md-4">
            <button class="w3-button w3-xlarge w3-circle w3-red">+</button>
            &nbsp;Load
        </div>
        <div class="col-md-4">
            <button class="w3-button w3-xlarge w3-circle w3-green">-</button>
            Unload
        </div>
        <div class="col-md-4">
            <button class="w3-button w3-xlarge w3-circle w3-blue">..</button>
            &nbsp;Details
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<hr />
@*<div style="background-color: ; color: #008080; padding-top: 20px; padding-left: 100px; padding-bottom: 20px; -webkit-border-radius: 5px">*@
<div style="">
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="col-md-6"></div>
            <div class="col-md-6 box">
                <h3>Machine-1</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="col-md-6 box">
                <h3>Machine-2</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="col-md-6"></div>
            <div class="col-md-6 box">
                <h3>Machine-3</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6  col-xs-6">
            <div class="col-md-6 box">
                <h3>Machine-4</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6"></div>
            <div class="col-md-6 box">
                <h3>Machine-5</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 box">
                <h3>Machine-6</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6"></div>
            <div class="col-md-6 box">
                <h3>Machine-7</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 box">
                <h3>Machine-8</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6"></div>
            <div class="col-md-6 box">
                <h3>Machine-9</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 box">
                <h3>Machine-10</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6"></div>
            <div class="col-md-6 box">
                <h3>Machine-11</h3>
                <div class="machineButtonMargin">
                    <p>&nbsp;</p>
                    <p>
                        <button class="w3-button w3-block w3-red">10-load</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-green">30-unload</button>
                    </p>
                    <p>
                        <button class="w3-button w3-block w3-deep-purple">Details</button>
                    </p>
                </div>
            </div>
        </div>
        @*        <br />*@
        @*        <br />*@
        @*        <br />*@
        @*        <div class="col-md-6">*@
        @*            <input type="button" value="View Details" class="btn btn-warning" />*@
        @*        </div>*@
    </div>
</div>